# Configuración del cliente
Callback.Client.Endpoints= tcp -h localhost

# Proxy del servidor
CallbackSender.Proxy= CallbackSender: tcp -h localhost -p 9099

# Timeout de para las llamadas asíncronas
# Ice.Default.InvocationTimeout=500

# Configuración del threadpool para el cliente
# threadpool para tareas de ejecución de callbacks y operaciones asíncronas
Ice.ThreadPool.Client.Size=5
Ice.ThreadPool.Client.SizeMax=10